@attribute [Route(UIRoutes.Administration.Records.Index)]
@layout AdminLayout
@using Domain.Enums
@inherits IndexBase

<div class="page-group">
    <div class="search-box">
        <input @onchange="@OnSearch" type="text" placeholder="Search"/>
    </div>
    <input type="button" value="Add New Record"
           @onclick="()=>RecordAction.Create()"/>
</div>
<div class="page">
    <div class="car-record-container visual">
        <div class="title-group">
            <div class="title t1">Business Name</div>
            <div class="title t2">FIN Code</div>
            <div class="title t3">Brand</div>
            <div class="title t4">Phone Numbers</div>
            <div class="title t5">Contacts</div>
            <div class="title t6">Address</div>
        </div>
        <Virtualize @ref="Container" Context="record"
            ItemsProvider="@LoadRecords" OverscanCount="10">
            <div class="box" @onclick="()=>RecordAction.Update(record)">
                <div class="item-group">
                    <div class="title">Business Name</div>
                    <div class="item">@record.BusinessName</div>
                </div>
                <div class="item-group">
                    <div class="title">FIN Code</div>
                    <div class="item">@record.FINCode</div>
                </div>
                <div class="item-group">
                    <div class="title">Brand</div>
                    <div class="item">@record.Brand</div>
                </div>
                <div class="item-group">
                    <div class="title">Phone Numbers</div>
                    <div class="list-group">
                        @foreach(var phone in record.PhoneNumbers)
                        {
                            <div class="item">@phone.Number</div>
                        }
                    </div>
                </div>
                <div class="item-group">
                    <div class="title">Contacts</div>
                    <div class="list-group">
                        @foreach(var name in record.ContactNames)
                        {
                            <div class="item">@name.FullName</div>
                        }
                    </div>
                </div>
                <div class="item-group">
                    <div class="title">Address</div>
                    <div class="item">@record.BusinessAddress.FullAddress</div>
                </div>
            </div>
        </Virtualize>
    </div>
</div>
<RecordAction Brands="@Brands" OnRefresh="@Refresh"
    @ref="@RecordAction"/>
