@attribute [Route(UIRoutes.Administration.CarRecords.Index)]
@layout AdminLayout
@using Domain.Enums
@inherits IndexBase

<div class="page-group">
    <input @oninput="(e) => OnSearch(e)" type="text" placeholder="Search"/>
    <input type="button" value="Add New Record"
           @onclick="()=>RecordAction.Create()"/>
</div>
<div class="page">
    @if(CarRecords != null && CarRecords!.Count() > 0)
    {
    <div>
        Total Records: @CarRecords.Count()<br>
        New Records:
        @CarRecords.Where(x => x.DateCreated > Time.Now.AddDays(-1)).Count()
    </div>
    <div class="pag-list">
        @if(TotalPages > 1)
        {
            foreach(var box in PagBoxes)
            {
                if(Page == box.Id)
                {
                    <span class="selected">[ @box.Id ]</span>
                }
                else
                {
                    <span key="box" @onclick="box.Action">@(box.Id)</span>
                }
            }
        }
    </div>
    <div class="car-record-container visual">
        <div class="title-group">
            <div class="title t1">Business Name</div>
            <div class="title t2">FIN Code</div>
            <div class="title t3">Brand</div>
            <div class="title t4">Phone Numbers</div>
            <div class="title t5">Contacts</div>
            <div class="title t6">Address</div>
        </div>
    @foreach(var record in CarRecordList!)
    {
        <div class="box" @onclick="()=>RecordAction.Update(record)">
            <div class="item-group">
                <div class="title">Business Name</div>
                <div class="item">@record.BusinessName</div>
            </div>
            <div class="item-group">
                <div class="title">FIN Code</div>
                <div class="item">@record.FINCode</div>
            </div>
            <div class="item-group">
                <div class="title">Brand</div>
                <div class="item">@record.CarBrand</div>
            </div>
            <div class="item-group">
                <div class="title">Phone Numbers</div>
                <div class="list-group">
                    @foreach(var phone in record.PhoneNumbers)
                    {
                        <div class="item">@phone.Number</div>
                    }
                </div>
            </div>
            <div class="item-group">
                <div class="title">Contacts</div>
                <div class="list-group">
                    @foreach(var name in record.ContactNames)
                    {
                        <div class="item">@name.FirstName @name.LastName</div>
                    }
                </div>
            </div>
            <div class="item-group">
                <div class="title">Address</div>
                <div class="item">@record.BusinessAddress.Address</div>
            </div>
        </div>
    }
    </div>
    }
    else if(CarRecords == null)
    {
        <Loading/>
    }
</div>
<RecordAction CarBrands="@CarBrands" OnRefresh="@Refresh"
    @ref="@RecordAction"/>
