@inherits AdminLayoutBase
<AuthorizeView>
<Authorized>
<main>
    <div class="admin-nav">
        <NavLink href="" Match=NavLinkMatch.All>Home</NavLink>&nbsp;
        <NavLink Match=NavLinkMatch.All
            href="@UIRoutes.Administration.Index">
            Administration
        </NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.Brands.Index">
            Brands
        </NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.Records.Index">
            Records
        </NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.Orders.Index">
            Orders
        </NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.Account.UpdateAdminProfile">
            Update Profile
        </NavLink>&nbsp;
        <a class="link" @onclick="LogOut">Logout</a>
    </div>
    <hr>
    @Body
</main>
</Authorized>
</AuthorizeView>
